
<style>
   body {margin: 5% auto; background: #002b36; color: #eee8d5; font-family: 'Courier new'; font-size: 14px; line-height: 1.6; text-shadow: 0 0px 0 #002b36; max-width: 73%;}
   code {background: #073642;}
   a {border-bottom: 1px solid #444444; color: #444444; text-decoration: none;}
   a:hover {border-bottom: 0;}
   h1, h2 {line-height: 1.3;}
</style>
